
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #D3806F ; /* Couleur de la bordure */
  color: #fff; /* Couleur du texte */
  background-color: #D3806F ; /* Couleur de fond */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Animation de transition */
}

.submitButton:hover {
  background-color: #D3806F ; /* Changement de couleur defond au survol */
  border-color: #D3806F ; /* Changement de couleur de la bordure au survol */
}

.submitButton:focus {
  outline: none; /* Supprime la bordure de mise au point par défaut */
  box-shadow: 0 0 0 3px rgba(97, 67, 21, 0.5); /* Effet de mise au point au clavier */
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff; /* Remplacez 'background.paper' par la couleur de fond souhaitée */
  border: 2px solid #000;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25); /* Valeur de l'ombrage ajustée */
  padding: 16px; /* 4 * 4 = 16 pour équivaloir à p: 4 */
}

.submitInput {
  width: 79%; /* Largeur de la barre d'entrée */
  padding: 10px; /* Espacement intérieur */
  font-size: 16px; /* Taille de la police */
  border: 2px solid #ccc; /* Couleur et épaisseur de la bordure */
  border-radius: 5px; /* Coins arrondis */
  background-color: #f4f4f4; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  transition: border-color 0.3s; /* Animation de transition */
}

.submitInput:focus {
  outline: none; /* Supprimer la bordure de mise au point par défaut */
  border-color: #007bff; /* Couleur de la bordure lorsqu'elle est en focus */
}